/* Contenedores Base */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

#contenedor1,
#contenedor2 {
    position: absolute;
    height: 100%;
    box-sizing: border-box;
}

#contenedor1 {
    width: 15%;
    background-color: #1c3c8c;
    box-shadow: 0px 0px 6px 0px grey;
    padding: 20px;
    text-align: center;
}

#contenedor2 {
    width: 85%;
    left: 15%;
    background-color: #d4ecfc;
    z-index: -2;
    overflow: auto;
    scroll-behavior: smooth;
    animation: cambiarFondo infinite alternate 5s;
}

/* Contenedor 1 - Ãndice */
#contenedor1 #menu-movil {
    display: none;
}

#contenedor1 > div,
#contenedor3 > #contenedor-menu > div {
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    text-transform: uppercase;
}

#contenedor1 > div {
    display: inline-block;
    width: 90%;
    margin: 15px 0px;
    opacity: 75%;
}

#contenedor3 > #contenedor-menu > div {
    float: left;
    clear: right;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
}

#contenedor3 > #contenedor-menu button {
    display: flex;
    justify-content: center;
    align-self: center;
}

#contenedor1 div:hover {
    opacity: 100%;
    cursor: pointer;
}

#contenedor1 a,
#contenedor3 > #contenedor-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

/* Contenedor 2 - Apartados */
.apartados {
    float: left;
    box-sizing: border-box;
    padding: 50px;
    margin: 10px 0px;
    position: relative;
    left: 10%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px -2px grey;
}

.apartados h1 {
    text-decoration: underline;
    margin-top: 0px;
}

.apartados h2 {
    margin: 0%;
}

.apartados ul,
.apartados li,
.apartados table {
    float: left;
    clear: both;
}

.apartados li {
    margin: 10px;
}

.apartados a {
    text-decoration: none;
    color: #1c3c8c;
    font-weight: bold;
}

.apartados a:hover {
    color: rgba(61, 118, 252, 0.85)
}

.footer {
    height: auto;
    text-align: center;
}

/* Textos Especiales */
b {
    color: #1c3c8c;
}

/* Contacto */
.apartados #foto-perfil {
    float: left;
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #1c3c8c;
    border-radius: 100%;
    margin: 0px 15px 30px;
}

#lista-sin-estilo {
    list-style: none;
}

#lista-sin-estilo img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
}

#lista-sin-estilo img:hover {
    cursor: help;
}

/* Aptitudes */
#img-aptitudes {
    float: right;
    position: relative;
    width: 500px;
    bottom: 30px;
}

/* Competencias */
#lista-competencias {
    display: block;
    float: none;
    clear: both;
    position: relative;
    width: 100%;
    height: 320px;
    text-align: right;
}

#lista-competencias ul {
    width: 55%;
}

#lista-competencias ul li {
    animation: aparecer 3s;
}

.competencias {
    position: relative;
    right: 5%;
    bottom: 5%;
    width: 280px;
    height: 280px;
    object-fit: cover;
    opacity: 0%;
    animation: aparecer 3s;
}

/* Experiencia Laboral */
.apartados table {
    width: 100%;
    border: 3px solid #1c3c8c;
    border-radius: 20px;
    background-color: #f6fcff;
    padding: 5px;
}

.apartados table th {
    height: 50px;
    text-transform: uppercase;
    font-size: 1.2em;
    text-decoration: underline;
}

.apartados table th:first-child {
    width: 35%;
}

.apartados table td {
    box-sizing: border-box;
    border: 2px solid #1c3c8c;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #fafdff;
}

.apartados table span {
    font-weight: bold;
    display: block;
    position: relative;
    left: 5%;
    top: 15px;
}

/* Historial Educativo */
.apartados > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apartados .tablas-educacion {
    text-align: center;
    width: 33%;
    margin: .5%;
    float: none;
    display: inline-block;
}

.apartados .tablas-educacion th {
    font-size: .9em;
}

.apartados .tablas-educacion td {
    padding: 5px;
}

.apartados > div + img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    float: none;
    display: block;
    margin: auto;
}

/* Animaciones */
@keyframes cambiarFondo {
    0% {
        background-color: #d4ecfc;
    }

    100% {
        background-color: #e3f4ff;
    }
}

@keyframes aparecer {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}